name: Commit lint
permissions: read-all
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  commitlint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: '{{ "${{ secrets.GITHUB_TOKEN }}" }}'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # fetch-depth is required

      {%- if cookiecutter.type == "svelte" %}
      # This needs a generated dependency - doesn't add anything to this test
      - run: rm tsconfig.json
      {%- endif %}

      - uses: wagoid/commitlint-github-action@v5
