repos:
  - repo: https://github.com/mrsimonemms/pre-commit-hooks
    rev: v1.2.1
    hooks:
      - id: license-eye
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: pretty-format-json
        args:
          - --autofix
          - --no-sort-keys
      - id: check-json
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages:
          - commit-msg
  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: markdown-toc
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        {%- if cookiecutter.type == "svelte" %}
        args:
          - --plugin
          - prettier-plugin-svelte
          - --plugin
          - prettier-plugin-organize-imports
        {%- endif %}
        stages:
          - pre-commit
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0-beta.0
    hooks:
      - id: eslint
        {%- if cookiecutter.type == "svelte" %}
        files: \.([jt]sx?|svelte)$ # *.js, *.jsx *.ts, *.tsx and *.svelte
        {%- else %}
        files: \.[jt]sx?$ # *.js, *.jsx *.ts and *.tsx
        {%- endif %}
        types: [file]
  - repo: https://github.com/mrsimonemms/toodaloo
    rev: v0.2.4
    hooks:
      - id: scan
